*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.header{
    background-color:#1F2937;
    width: 100%;
    height: 500px;
    
    

}

.links{
    display: flex;
    max-width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;
    gap: 22px;
    padding-top: 20px;
    padding-bottom: 20px;

    list-style-type: none;
    align-items: baseline;
    
}

.logo{
    margin-right: auto;
}
.logo a{
    margin-left: 20px;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

ul a{
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none;
}



.hero-section{
    display: flex;
    margin: 0 auto;
    max-width: 80%;
}

.hero-text{
    flex: 1;
    
    
}

.hero-placeholder{
    display: flex;
    flex:1;
    justify-content: center; 
    align-items: center; 
    color: white;
    background-color: grey;
    
}

.hero-text, .hero-placeholder{
    
    padding: 20px;
    
}

.hero-text h3{
    font-size: 48px;
    font-weight: 900;
    line-height: 50px;
    color: #F9FAF8;
    width: 420px;
}

.hero-text p{
    
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 18px;
    width: 420px;
    color: #E5E7EB;
}

.hero-text button{
    padding: 15px 25px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    background-color: rgba(27, 92, 233, 0.788);
    border-style: none;

}

.card-content h1{
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 36px;
    font-weight:bolder;
    color: #1F2937;
}
.card-container{
    display: flex;
    justify-content: center;
}

.card{
    
    width: 200px;
    height: 400px;
    margin: 20px;
}

.card-box{
    width: 200px;
    height: 200px;
    border: rgba(53, 53, 209, 0.842) 4px solid;
    border-radius: 20px;
    margin-bottom: 20px;
}


.quote-section{
    height: 400px;
    background-color: #E5E7EB;  
}

.quote-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 900px;
    margin: auto;

}

.quote-text{

    margin-top: 120px;
    font-size: 27px;
    font-style: italic;
    color: #1F2937;
    justify-content: center;
    align-items: center;


    
  
}
.quote-author{
    padding: 20px;
    margin: 10px;
    font-size: 22px;
    font-weight: bold;
    margin-left: auto;
}

.cta-section{
    
    height: 250px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    
}

.cta-container{

    display: flex;
    padding: 0 40px 0 40px;
    background-color: #3882F6;
    align-items: center;
    justify-content: space-around;
    
}
    
.cta-text{
    padding: 35px;
    color: white;
    
}

.cta-button{
    padding: 40px;
}

.cta-button button{
    padding: 10px 30px 10px 30px;
    color: white;
    background-color: #3882F6;
    border: 1px solid white;
    border-radius: 10px;
}
