*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.header{
    background-color:#1F2937;
    width: 100%;
    height: 500px;
    
    

}

.links{
    display: flex;
    max-width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;
    gap: 22px;
    padding-top: 20px;
    padding-bottom: 20px;

    list-style-type: none;
    align-items: baseline;
    
}

.logo{
    margin-right: auto;
}
.logo a{
    margin-left: 20px;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

ul a{
    color: #E5E7EB;
    font-size: 18px;
    text-decoration: none;
}



.hero-section{
    display: flex;
    margin: 0 auto;
    max-width: 80%;
}

.hero-text{
    flex: 1;
    
    
}

.hero-placeholder{
    display: flex;
    flex:1;
    justify-content: center; 
    align-items: center; 
    color: white;
    background-color: grey;
    
}

.hero-text, .hero-placeholder{
    
    padding: 20px;
    
}

.hero-text h3{
    font-size: 48px;
    font-weight: 900;
    line-height: 50px;
    color: #F9FAF8;
    width: 420px;
}

.hero-text p{
    
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 18px;
    width: 420px;
    color: #E5E7EB;
}

.hero-text button{
    padding: 15px 25px;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    background-color: rgba(27, 92, 233, 0.788);
    border-style: none;

}

